@font-face{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'),
    url(../fonts/Roboto-Regular.woff2),
    url(../fonts/Roboto-Regular.woff);
}

@font-face{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto'),
    url(../fonts/Roboto-Bold.woff2),
    url(../fonts/Roboto-Bold.woff);
}
