@media (max-width: 414px){
    /*common styles*/

    img {
        max-width: 100%;
    }

    .title {
        font-size: 11px;
        margin-bottom: 7px;
    }

    /*lines*/

    .line__bold-events {
        width: 51%;
    }

    .line__thin-events {
        background-color: #979797;
        height: 1px;
        width: 87%;
    }

    .line__bold-users {
        width: 22%;
    }

    .line__thin-users {
        width: 23%;
    }

    .line__bold-socials {
        height: 2px;
        width: 24%;
    }

    .line__thin-socials {
        width: 28%;
    }

    /*header*/
    
    h1 {
        font-size: 56px;
        margin: 11px 0 4px;
        min-width: auto;
    }

    header {
        margin: 16px 20px 0;
        font-weight: 400;
        font-size: 7px;
    }

    .header__item-right {
        padding-right: 10px;
    }

    .header__item-right:last-child {
        padding-right: 2px;
        padding-left: 0;
    }

    .header__list {
        min-width: auto;
    }

    /*menu and lectures*/

    aside, .lectures {
        overflow: scroll;  
        width: auto;   
    }

    .lectures__list:after {
        content: ' ';
        display: block;
        flex-shrink: 0;
        width: 10px;
    }

    .menu__items {
        padding: 14px 15px 12px 20px;
        border-radius: 0;
        font-size: 10px;
        width: 1200px;
    }

    .menu__item {
        margin-right: 24px;
    }

    /*info*/

    .info {
        margin: 0 20px;
    }

    .info__header {
        font-size: 34px;
        margin-top: 24px;
    }

    .info__text {
        font-size: 12px;
        margin: 11px 0 24px;
    }

    /*images*/

    .images__container {
        flex-direction: column;
        max-width: 414px;
        margin: 0 20px;
        width: auto;
    }

    .images__list {
        margin-bottom: 6px;
    }

    .images__list:last-child {
        margin-bottom: 0;
    }

    .big-images {
        margin-right: 0;
        margin-bottom: 2px;
    }

    .images__small {
        width: calc(50% - 3px);
    }

    .small-images img {
        width: 100%;
    }

    .images__big-title {
        font-size: 30px;
    }

    .images__small-title {
        font-size: 15px;
    }

    .images__text {
        font-size: 7px;
    }

    /*events-socials-users*/

    .events-socials-users {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 24px;
    }

    /*events*/

    .events {
        padding: 10px 22px 31px 12px;
    }

    .left-container {
        margin-bottom: 20px;
        min-width: 0;
        width: 100%;
    }

    .events-socials-users .right-container {
        display: flex;
        flex-direction: column-reverse;
        min-width: 0;
        width: 100%;
        max-width: 414px;
        margin-left: 0;
    }

    .events__container {
        flex-direction: column;
        margin-top: 21px;
    }

    .events__item:nth-child(2) {
        order: 2;
    }

    .events__item:nth-child(4) {
        order: 4;
    }

    .events__item {
        margin-bottom: 19px;
    }

    .events__image{
        height: 119px;
        width: auto;
        margin-bottom: 5px;
    }

    .events__label {
        font-size: 7px;
        padding: 3px 0 2px 9px;
    }

    .events__label-1 {
        width: 80px;
    }

    .events__label-2 {
        width: 55px;
    }

    .events__label-3 {
        width: 73px;
    }

    .events__label-4 {
        width: 103px;
    }

    .events__text {
        font-size: 10px;
        margin-bottom: 0;
    }

    .events__date {
        font-size: 7px;
    }

    .events__button-link { 
        margin: 0;
        font-size: 8px;
        padding: 18px 25px 18px 21px;
    }

    .events__button {
        justify-content: flex-start;
    }

    /*socials*/

    .socials {
        margin-bottom: 0;
        margin-top: 20px;
        padding: 11px 12px 27px;
    }

    .socials__image {
        max-width: 100px;
        width: 53px;
    }

    .socials__item {
        margin-top: 0;
    }

    .socials__title {
        font-size: 15px;
    }

    /*users*/

    .users {
        padding: 11px 5px 42px 5px;
    }

    .users__description img {
        width: 93px;
    }

    .users__list {
        margin-top: 30px;
        margin-left: 14px;
    }

    .users__item {
        margin-bottom: 22px;
    }

    .users__item:last-child {
        margin-bottom: 0;
    }

    .users__name {
        margin-left: 16px;
        font-size: 19px;
    }

    .users__profession, .users__profession-bold {
        font-size: 17px;
        margin-left: 16px;
    }

    .users__description-left {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        width: 93px;
        height: 93px;
    }
    
    .users__description-left img {
        width: 93px;
        height: 93px;
    }

    /*lectures*/

    .lectures {
        padding: 14px 18px 29px 12px;
    }

    .lectures__list {
        margin-top: 19px;
    }

    .lectures__item {
        margin-right: 4px;
    }

    .lectures__item:last-child {
        margin-right: 0;
    }

    .lectures__image {
        width: 174px;
        height: 121px;
    }

    /*news-registration*/

    form {
        width: 314px;
        margin-left: 17px;
    }

    .news-registration {
        display: block;
        margin-top: 21px;
        margin: 0 auto;
    }

    .news-registration .right-container {
        margin: 0 auto;
    }

    /*news*/

    .news {
        display: none;
    }

    /*form*/

    form {
        padding: 17px 17px 59px;
    }

    .form__title {
        font-size: 16px;
    }

    .form__text {
        font-size: 12px;
        margin: 25px 0 14px;

    }

    .form__button {
        padding: 15px 37px 13px 31px;
        font-size: 12px;
    }

    input {
        width: 262px;
        padding: 13px 0 14px 12px;
        margin-bottom: 19px;
        font-size: 12px;
    }

    /*footer*/

    footer {
        min-width: auto;
        font-size: 8px;
        padding-top: 40px;
        padding-bottom: 37px;
        margin-top: 52px;
    }

}