/*structure*/

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0 auto;
    padding: 0;
}
header, main {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1200px;
}

footer {
    box-sizing: border-box;
    min-width: 1200px;
}

/*common styles*/

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 9px;
    margin-top: 0;
}

.right-container {
    max-width: 350px;
    min-width: 350px; 
    margin-left: 40px;
}

.left-container {
    max-width: 810px;
    min-width: 810px; 
}

/*lines*/

.lines {
    font-size: 0;
    vertical-align: middle;
}

.line {
    display: inline-block;
}

.line__bold-socials {
    height: 2px;
    width: 49%;
    background-color: #000;
}

.line__bold-users {
    height: 2px;
    width: 46%;
    background-color: #000;
}

.line__thin-users, .line__thin-socials {
    height: 1px;
    background-color: #979797;
    width: 51%;
}

.line__thin-users {
    margin-top: 1px;
}

.line__bold-news {
    height: 2px;
    width: 28%;
    background-color: #000;
}

.line__thin-news {
    height: 1px;
    background-color: #979797;
    width: 10%;
}

.line__thin-news-item {
    height: 1px;
    background-color: #979797;
    width: 87%;
}

.line__bold-events {
    height: 2px;
    width: 41%;
    background-color: #000;
}

.line__thin-lectures {
    background-color: #000;
    height: 1px;
    width: 74px;
}

.line__bold-form {
    height: 2px;
    width: 67%;
    background-color: #000;
}

.line__thin-form {
    height: 1px;
    background-color: #979797;
    width: 100%;
}

/*header*/

header {
    margin: 33px auto 27px;
    color: #7d7d7d;
    font-weight: 400;
    font-size: 12px;
}

h1 {
    margin: 2px 0 27px 7px;
    font-weight: 400;
    font-size: 90px;
    color: #363636;
    text-align: center;
    min-width: 1200px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
}

.header__container-right {
    margin-top: 3px;
}

.header__item-right {
    display: inline-block;
    padding-right: 19px;
} 

.header__item-right:last-child {
    padding-right: 7px;
    padding-left: 2px;
}

.header__item-link { 
    color: #7d7d7d;
}

/*menu*/

aside {
    width: 1200px;
}

.menu__items {
    background-color: #363636;
    font-weight: 400;
    padding: 20px 0 23px 40px;
    border-radius: 6px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    display: inline-block;
    margin-right: 40px;
}

.menu__item-link {
    color: #ffffff;
}

/*info*/

.info__header {
    font-size: 56px;
    font-weight: 700;
    color: #363636;
    margin: 39px 0 0;
}

.info__text {
    font-weight: 400;
    font-size: 20px;
    margin: 19px 0 40px;
}

/*images*/

.images__container {
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

.big-images {
    margin-right: 7px;
    margin-bottom: 4px;
}

.big-images:last-child {
    margin-right: 0;
}

.small-images img {
    margin-right: 4px;
}

.small-images img:last-child {
    margin-right: 0;
}

.images__list {
    display: inline-block;
    max-width: 597px;
}

.images__big-title {
    font-size: 60px;
    font-weight: 400;
    margin: 0;
}

.images__small-title {
    font-size: 38px;
    font-weight: 400;
    margin: 0;
}

.images__text {
    font-size: 18px;
    margin: 0;
}

.images__big-description {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.images__small-description {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.images__big, .images__small {
    position: relative;
}

.small-images {
    display: flex;
    box-sizing: border-box;
    width: auto;
    justify-content: space-between;
}

.big-images {
    margin-right: 7px;
    margin-bottom: 4px;
}

.big-images:last-child {
    margin-right: 0;
}

.small-images img {
    margin-right: 4px;
}

.small-images img:last-child {
    margin-right: 0;
}

.images__list {
    display: inline-block;
}

/*events-socials-users*/

.events-socials-users {
    margin-top: 36px;
    margin-bottom: 39px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

/*events*/

.events {
    border: 1px solid #363636;
    padding: 19px 27px 18px 20px;
    box-sizing: border-box;
}

.events__button {
    display: flex;
    justify-content: center;
    text-align: center;
}

.events__button-link {
    display: inline-block;
    background: #5cbd5c;
    color: white;
    font-size: 14px;
    padding: 28px 32px; 
    margin: 53px 0 32px 0;
    border-radius: 5px; 
}

.events__container {
    margin-top: 37px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.events__item {
    margin-bottom: 40px;
    box-sizing: border-box;
}

.events__text {
    color: #000;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 15px;
}

.events__description {
    margin-top: 2px;
}

.events__date {
    color: #9b9b9b;
    font-size: 11px;
    line-height: 18px;
} 

.events__label {
    position: absolute;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 0 4px 8px;
    bottom: 0%;
}

.events__image {
    position: relative;
    width: 368px;
    height: 195px;
    background-size: cover;
    background-repeat: round;
    margin-bottom: 9px;
}

.events__image-1 {
    background-image: url('../images/Events/Tile-Big-01.png');
    background-color: #363636;
}

.events__image-2 {
    background-image: url('../images/Events/Tile-Big-02.png');
    background-color: #363636;
}

.events__image-3 {
    background-image: url('../images/Events/Tile-Big-03.png');
    background-color: #363636;
}

.events__image-4 {
    background-image: url('../images/Events/Tile-Big-04.png');
    background-color: #363636;
}

.events__label-1 {
    background-color: #468eda;
    width: 82px;
}

.events__label-2 {
    background-color: #5cc08c;
    width: 59px;
}

.events__label-3 {
    background-color: #c075b8;
    width: 75px;
}

.events__label-4 {
    background-color: #e1b173;
    width: 106px;
}

/*socials*/

.socials {
    border: 1px solid #363636;
    margin-bottom: 46px;
    padding: 19px 22px 34px;
    box-sizing: border-box;
}

.socials__list {
    text-align: center;
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.socials__item {
    margin-top: 14px;
}

.socials__image {
    max-width: 50px;
}

.socials__title {
    margin-top: 14px;
    font-size: 12px;
    color: #9b9b9b;
}

/*users*/

.users { 
    border: 1px solid #363636;
    padding: 19px 14px 133px;
    box-sizing: border-box;
}

.users__title-lines {
    margin-left: 7px;
}

.users__list {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

.users__item {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.users__description-right {
    display: flex;
    flex-direction: column;
}

.users__profession {
    color: #7f7f7f;
    margin-left: 14px;
    font-size: 12px;
}

.users__profession-bold {
    font-weight: 700;
    color: #7d7d7d;
    font-size: 12px;
    margin-left: 14px;
}

.users__name {
    margin-left: 13px;
    font-size: 14px;
}

.users__description-left {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 67px;
    height: 67px;
}

.users__description-left img {
    position: absolute;
    width: 67px;
    height: 67px;
}

/*lectures*/

.lectures {
    width: 1200px;
    padding: 20px 18px 40px 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
}

.lectures__list {
    margin-top: 32px;
    display: flex;
    flex-wrap: nowrap;
}

.lectures__image {
    width: 284px;
    height: 200px;
}

.lectures__item {
    margin-right: 10px;
}

.lectures__image-1 {
    background: #363636 url('../images/Videos/video-01.png') round;
}

.lectures__image-2 {
    background: #363636 url('../images/Videos/video-02.png') round;
}

.lectures__image-3 {
    background: #363636 url('../images/Videos/video-03.png') round;
}

.lectures__image-4 {
    background: #363636 url('../images/Videos/video-04.png') round;
}

/*news-registration*/

.news-registration {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

/*news*/

.news {
    border: 1px solid #363636;
    padding: 18px 18px 57px;
    box-sizing: border-box;
}

.news__title-lines {
    margin-left: 3px;
    margin-bottom: 11px;
}

.news__item {
    margin: 8px 0 8px;
}

.news__description {
    display: inline-block;
    vertical-align: middle;
}

.news__description-title {
    margin-bottom: 18px;
    margin-top: 10px;
}

.news__right-sidebar {
    margin-left: 12px;
}

.news__description p {
    line-height: 2px;
}

.news__text {
    color: #7d7d7d;
    margin: 7px 0 23px 0;
    font-size: 14px;
}

.news__date {
    color: #9b9b9b;
    font-size: 12px;
}

/*form*/

form {
    border: 1px solid #363636;
    padding: 18px 20px 70px;
    box-sizing: border-box;
}

.form__title {
    margin-left: 4px;
    margin-bottom: 9px;
}

.form__lines {
    margin-left: 2px;
}

.form__text {
    font-size: 14px;
    margin: 25px 0 18px;
    font-weight: 700;
    color: #7d7d7d;
}

input {
    padding: 14px 0 16px 12px;
    margin-bottom: 20px;
    width: 295px;
    font-size: 14px;
    border: 1px solid #363636;
    border-radius: 4px;
}

input:hover {
    background-color: #cecece;
}

input:focus {
    background-color: white;
}

.form__button {
    display: block;
    padding: 17px 37px 16px 34px;
    color: white;
    background-color: #5cbd5c;
    border-radius: 6px;
    border: transparent;
    font-size: 14px;
    float: right;
}

/*footer*/

footer {
    background-color: #363636;
    color: #c0c0c0;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 61px;
    margin-top: 150px;
}